<h1><%= content.name %></h1>


<% /*function content(content) { %>
  <li>Project: <%= content.name %></li>
  <li>Version: <%= content.version %></li>
  <li>Download URL: <%= content.package %></li>
  <li>Checksum: <%= content.checksum %></li>
<% } */%>

<ul>
	<% /*contents.map(content)*/ %>
  <li>Project: <%= content.name %></li>
  <li>Version: <%= content.version %></li>
  <li>Download URL: <%= content.package %></li>
  <li>Checksum: <%= content.checksum %></li>
</ul>